button{
    margin-top: 20px;
}

input{
    outline: 2px solid gray;
}

html, body {
    height: 100%;
    margin: 0;
}

.d-flex {
    display: flex;
    min-height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

main {
    flex-grow: 1;
    padding-bottom: 70px; /* spazio per il footer */
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
}