<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planned Events</title>
</head>
<body>
    <div>
    <h2>Planned Events</h2>
    <a href="/add">Add Event</a>
    <table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Date</th>
        <th>Time</th>
        <th>Guests</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for event in events%}
        <tr>
            <td>{{ event['Name']}}</td>
            <td>{{ event['Location']}}</td>
            <td>{{ event['Date']}}</td>
            <td>{{ event['Time']}}</td>
            <td>{{ ', '.join(event['Guests'])}}</td>
            <form action="/edit/{{ event['ID']}}" method="post">
                <button type="submit">Edit</button>
            </form>
            <form action="/delete/{{ event['ID']}}" method="post">
                <button type="submit">Delete</button>
            </form>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</body>
</html>